@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
}

.bg-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./assets/img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
